# Matrici - Numpy 1


## [Scarica zip esercizi](../_static/generated/matrices-numpy.zip)

[Naviga file online](https://github.com/DavidLeoni/softpython-it/tree/master/matrices-numpy)

## Introduzione

Ci sono sostanzialmente due modi in Python di rappresentare matrici: come liste di liste, oppure con la libreria esterna [numpy](https://www.numpy.org). Vediamo le principali differenze:

Liste di liste - [vedere foglio separato](https://it.softpython.org/matrices-lists/matrices-lists-sol.html)

1. native in Python
2. non efficienti
3. le liste sono pervasive in Python, probabilmente incontrerai matrici espresse come liste di liste in ogni caso
4. forniscono un'idea di come costruire una struttura dati annidata
5. possono servire per comprendere concetti importanti come puntatori alla memoria e copie 


Numpy - questo tutorial

1. non nativamente disponibile in Python
2. efficiente
3. alla base di parecchie librerie di calcolo scientifico (scipy, pandas)
4. sintassi più comoda per accedere agli elementi (lievemente diversa da quella delle liste di liste)
5. in alcuni rari casi potrebbe portare problemi di installazione e/o conflitti (l'implementazione non è puro Python)

Qui vedremo i tipi di dati e comandi essenziali della [libreria numpy](https://www.numpy.org), mostrando molto spesso due versioni dello stesso codice: una prima versione inefficiente con i normali cicli `for` in Python (lenti), e una seconda senza cicli sfruttando le operazioni su vettori di numpy che spesso permettono di ottenere codice estrememente compatto ed efficiente.

Per ulteriori riferimenti, vedere:

- [i tutorial Nicola Zoppetti, parte Numpy](http://www.ifac.cnr.it/~zoppetti/corsopython/)
- [Python Data Science Handbook, parte Numpy (inglese)](https://jakevdp.github.io/PythonDataScienceHandbook/02.00-introduction-to-numpy.html)

<div class="alert alert-warning">

**ATTENZIONE**: Numpy non funziona in [Python Tutor](http://www.pythontutor.com/visualize.html#mode=edit) 

</div>

### Che fare

- scompatta lo zip in una cartella, dovresti ottenere qualcosa del genere: 

```

matrices-numpy
    matrices-numpy1.ipynb
    matrices-numpy1-sol.ipynb
    matrices-numpy2.ipynb
    matrices-numpy2-sol.ipynb
    matrices-numpy3-chal.ipynb
    jupman.py
```

<div class="alert alert-warning">

**ATTENZIONE**: Per essere visualizzato correttamente, il file del notebook DEVE essere nella cartella szippata.
</div>

- apri il Jupyter Notebook da quella cartella. Due cose dovrebbero aprirsi, prima una console e poi un browser. Il browser dovrebbe mostrare una lista di file: naviga la lista e apri il notebook `matrices-numpy1.ipynb`
- Prosegui leggendo il file degli esercizi, ogni tanto al suo interno troverai delle scritte **ESERCIZIO**, che ti chiederanno di scrivere dei comandi Python nelle celle successive.

Scorciatoie da tastiera:

* Per eseguire il codice Python dentro una cella di Jupyter, premi `Control+Invio`
* Per eseguire il codice Python dentro una cella di Jupyter E selezionare la cella seguente, premi `Shift+Invio`
* Per eseguire il codice Python dentro una cella di Jupyter E creare una nuova cella subito dopo, premi `Alt+Invio`
* Se per caso il Notebook sembra inchiodato, prova a selezionare `Kernel -> Restart`

## np.array

Innanzitutto importiamo la libreria, e per comodità la rinominiamo in `np`:

In [1]:
import numpy as np

Con le liste di liste abbiamo spesso costruito le matrici una riga alla volta, aggiundo liste all'occorrenza. In numpy invece di solito si crea in un colpo solo tutta la matrice, riempiendola di zeri. 

In particolare, questo comando crea un ndarray riempito di zeri:

In [2]:
mat = np.zeros( (2,3)  )   # 2 righe, 3 colonne

In [3]:
mat

array([[0., 0., 0.],
       [0., 0., 0.]])

Nota come all'interno di `array( )` il contenuto sembra che venga rappresentato come una lista di liste, MA in realtà nelle memoria fisica i dati sono strutturati in una sequenza lineare che permette a Python di accedere ai numeri in modo molto più rapido.

Possiamo anche crearci un `ndarray` a partire da una lista di liste:

In [4]:
mat = np.array( [ [5.0,8.0,1.0], 
                  [4.0,3.0,2.0]])

In [5]:
mat

array([[5., 8., 1.],
       [4., 3., 2.]])

In [6]:
type(mat)

numpy.ndarray

### Creare una matrice riempita di uno

In [7]:
np.ones((3,5))  # 3 righe, 5 colonne

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

### Creare una matrice riempita di un numero k

In [8]:
np.full((3,5), 7)

array([[7, 7, 7, 7, 7],
       [7, 7, 7, 7, 7],
       [7, 7, 7, 7, 7]])

### Dimensioni di una matrice

Per ottenere le dimensioni, scriviamo così:
    
<div class="alert alert-warning">

**ATTENZIONE**: dopo `shape` **non** ci sono le parentesi tonde !

`shape` è un attributo, non una funzione da chiamare
</div>

In [9]:
mat = np.array( [ [5.0,8.0,1.0], 
                  [4.0,3.0,2.0]])

mat.shape

(2, 3)

Se vogliamo memorizzare le dimensioni in variabili separate, possiamo usare questo modo più pythonico (notare la virgola tra `num_righe` e `num_colonne`):

In [10]:
num_righe, num_colonne = mat.shape

In [11]:
num_righe

2

In [12]:
num_colonne

3

## Lettura e scrittura

Per accedere ai dati o sovrascriverli si utilizza la notazione con le quadre, con l'importante differenza che in Numpy è consentito scrivere _entrambi_ gli indici _dentro_ le stesse quadre, separati da una virgola:


<div class="alert alert-warning">

**ATTENZIONE: la notazione** `mat[i,j]` **è solo per numpy!**
    
Con le liste di liste **non** funziona.
<div>

In [13]:
mat = np.array( [ [5.0,8.0,1.0], 
                  [4.0,3.0,2.0]])

# mettiamo il numero 9 nella cella alla riga 0 e colonna 1

mat[0,1] = 9

In [14]:
mat

array([[5., 9., 1.],
       [4., 3., 2.]])

Accediamo alla cella alla riga `0` e colonna `1`

In [15]:
mat[0,1]

9.0

Mettiamo il numero `7` nella cella alla riga `1` e colonna `2`:

In [16]:
mat[1,2] = 7

In [17]:
mat

array([[5., 9., 1.],
       [4., 3., 7.]])

**✪ ESERCIZIO**: prova a scrivere così: che succede? 

```python
mat[0,0] = "c"
```

In [18]:
# scrivi qui

**✪ ESERCIZIO**: Prova a scrivere così e vedere che succede:
    
```python
mat[1,1.0]
```

In [19]:
# scrivi qui

### Riempire tutta la matrice

Possiamo MODIFICARE la matrice scrivendoci dentro un numero con `fill()`

In [20]:
mat = np.array([[3.0, 5.0, 2.0],
                [6.0, 2.0, 9.0]])

mat.fill(7)  # NOTA: non ritorna nulla !!

In [21]:
mat

array([[7., 7., 7.],
       [7., 7., 7.]])

### Slice

Per estrarre dati da un `ndarray` possiamo usare le slice, con la notazione già usata per le liste normali. La differenza questa volta è che possiamo estrarre sotto-matrici indicando due range tra le stesse quadre:

In [22]:
mat = np.array( [ [5, 8, 1], 
                  [4, 3, 2],
                  [6, 7, 9],
                  [9, 3, 4],
                  [8, 2, 7]])

In [23]:
mat[0:4, 1:3]  # le righe dalla 0 *inclusa* alla 4 *esclusa*
               # e le colonne dalla 1 *inclusa*  alla 3 *esclusa*

array([[8, 1],
       [3, 2],
       [7, 9],
       [3, 4]])

In [24]:
mat[0:1,0:3]  # tutta la prima riga

array([[5, 8, 1]])

In [25]:
mat[0:1,:]  # altro modo di estrarre tutta la prima riga

array([[5, 8, 1]])

In [26]:
mat[0:5, 0:1]  # tutta la prima colonna

array([[5],
       [4],
       [6],
       [9],
       [8]])

In [27]:
mat[:, 0:1]  # altro modo di estrarre tutta la prima colonna

array([[5],
       [4],
       [6],
       [9],
       [8]])

**Il passo**: Possiamo anche specificare un passo come terzo parametro dopo il `:`, per esempio per estrarre solo le righe pari possiamo aggiungere un `2` così:

In [28]:
mat[0:5:2, :]

array([[5, 8, 1],
       [6, 7, 9],
       [8, 2, 7]])

<div class="alert alert-warning">
    
**ATTENZIONE: modificando le slice di numpy si modifica anche la matrice originale!**

</div>   

A differenza delle slice di liste che producono sempre nuove liste, per questioni di efficienza con le slice di numpy otteniamo solo una _vista_ sui dati originari, che significa che scrivendo nella vista andiamo a scrivere anche nella matrice originale:

In [29]:
mat = np.array( [ [5, 8, 1], 
                  [4, 3, 2],
                  [6, 7, 9],
                  [9, 3, 4],
                  [8, 2, 7]])

In [30]:
sotto_mat = mat[0:4, 1:3]  
sotto_mat

array([[8, 1],
       [3, 2],
       [7, 9],
       [3, 4]])

In [31]:
sotto_mat[0,0] = 999

In [32]:
mat

array([[  5, 999,   1],
       [  4,   3,   2],
       [  6,   7,   9],
       [  9,   3,   4],
       [  8,   2,   7]])

### Scrivere una costante in una slice

Possiamo scrivere una costante in tutte le celle di una regione identificando la regione con una slice, e ponendola uguale alla costante:

In [33]:
mat = np.array( [ [5, 8, 1], 
                  [4, 3, 2],
                  [6, 7, 9],
                  [9, 3, 4],
                  [8, 2, 5]])

mat[0:4, 1:3]  = 7

mat

array([[5, 7, 7],
       [4, 7, 7],
       [6, 7, 7],
       [9, 7, 7],
       [8, 2, 5]])

### Scrivere una matrice in una slice

Possiamo scrivere dentro tutte le celle di una regione identificando la regione con una slice, e ponendola uguale ad una matrice da cui vogliamo leggere le celle.

**ATTENZIONE**: Per evitare problemi, **controlla** di usare le stesse dimensioni nella slice e nella matrice a destra!

In [34]:
mat = np.array( [ [5, 8, 1], 
                  [4, 3, 2],
                  [6, 7, 9],
                  [9, 3, 4],
                  [8, 2, 5]])

mat[0:4, 1:3]  = np.array([
                            [10,50],
                            [11,51],
                            [12,52],
                            [13,53],
                        ])

mat

array([[ 5, 10, 50],
       [ 4, 11, 51],
       [ 6, 12, 52],
       [ 9, 13, 53],
       [ 8,  2,  5]])

## Assegnazione e copia

Con Numpy dobbiamo fare attenzione a quando usiamo l'operatore di assegnazione `=`: come accade con le liste normali, se facciamo una assegnazione nella nuova variabile otterremo solo un puntatore all'array originale:

In [35]:
va = np.array([1,2,3])

In [36]:
va

array([1, 2, 3])

In [37]:
vb = va

In [38]:
vb[0] = 100

In [39]:
vb

array([100,   2,   3])

In [40]:
va

array([100,   2,   3])

Se volessimo una copia completa dell'array, dovremmo usare il metodo `.copy()`:

In [41]:
va = np.array([1,2,3])

In [42]:
vc = va.copy()

In [43]:
vc

array([1, 2, 3])

In [44]:
vc[0] = 100

In [45]:
vc

array([100,   2,   3])

In [46]:
va

array([1, 2, 3])

## Calcoli

Numpy è estremamente flessibile, e ci permette di usare gli array quasi con le stesse operazioni dei vettori e matrici che conosciamo dall'algebra:

In [47]:
va = np.array([5,9,7]) 
va

array([5, 9, 7])

In [48]:
vb = np.array([6,8,0]) 
vb

array([6, 8, 0])

Quando effettuiamo un'operazione algebrica, tipicamente viene creato un NUOVO array:

In [49]:
vc = va + vb   
vc

array([11, 17,  7])

Notiamo che la somma non ha cambiato gli input:

In [50]:
va

array([5, 9, 7])

In [51]:
vb

array([6, 8, 0])

### Moltiplicazione per uno scalare

In [52]:
m = np.array([[5, 9, 7],
              [6, 8, 0]])

In [53]:
3 * m

array([[15, 27, 21],
       [18, 24,  0]])

### Somma di uno scalare

In [54]:
3 + m

array([[ 8, 12, 10],
       [ 9, 11,  3]])

### Moltiplicazione

Attenzione alla moltiplicazione con `*`, che diversamente dalla moltiplicazione classica tra matrici moltiplica _elemento per elemento_ e richiede quindi matrici di dimensioni identiche:

In [55]:
ma = np.array([[1,  2,  3],
               [10, 20, 30]])

mb = np.array([[1,  0,  1],
               [4,  5,  6]]) 

ma * mb

array([[  1,   0,   3],
       [ 40, 100, 180]])

Se vogliamo la moltiplicazione tra matrici che [troviamo nell'algebra classica](https://it.wikipedia.org/wiki/Moltiplicazione_di_matrici#:~:text=In%20matematica%2C%20e%20pi%C3%B9%20precisamente,luogo%20ad%20un'altra%20matrice.), dobbiamo usare l'operatore `@` facendo attenzione ad avere matrici di dimensioni compatibili:

In [56]:
mc = np.array([[1,  2,  3],
               [10, 20, 30]])
md = np.array([[1, 4],
               [0, 5],
               [1, 6]]) 

mc @ md

array([[  4,  32],
       [ 40, 320]])

### Divisione per uno scalare

In [57]:
ma = np.array([[1,  2,  0.0],
               [10, 0.0, 30]])

ma / 4

array([[0.25, 0.5 , 0.  ],
       [2.5 , 0.  , 7.5 ]])

Attenzione che se dividiamo per `0.0`, l'esecuzione del programma continuerà comunque con un warning e ci ritroveremo nella matrice degli strani `nan` e `inf` che tendono poi a creare problemi - vedere al riguardo sezione [Nan e inifinità](#NaN-e-infinit%C3%A0)

In [58]:
print(ma / 0.0)
print("DOPO")

[[inf inf nan]
 [inf nan inf]]
DOPO

/home/da/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.
/home/da/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

## Aggregazione

Numpy fornisce diverse funzioni per calcolare statistiche, noi ne mostriamo solo alcune:

In [59]:
m = np.array([[5, 4, 6],
              [3, 7, 1]])
np.sum(m)

26

In [60]:
np.max(m)

7

In [61]:
np.min(m)

1

### Aggregazione su riga o colonna

Aggiungendo il parametro `axis` possiamo indicare di effettuare l'aggregazione su ciascuna colonna (`axis=0`) o riga (`axis=1`):

In [62]:
np.max(m, axis=0)  # il massimo di ogni colonna

array([5, 7, 6])

In [63]:
np.sum(m, axis=0)   # somma ogni colonna

array([ 8, 11,  7])

In [64]:
np.max(m, axis=1)  # il massimo di ogni riga

array([6, 7])

In [65]:
np.sum(m, axis=1)   # somma ogni riga

array([15, 11])

## Filtrare

Numpy mette a disposizione un mini-linguaggio per filtrare i numeri in un array specificando dei criteri di selezione. Vediamo un esempio:

In [66]:
mat = np.array([[5, 2, 6],
                [1, 4, 3]])
mat

array([[5, 2, 6],
       [1, 4, 3]])

Supponiamo di voler ottenere un array con tutti i numeri da `mat` che sono maggiori di 2. 

Possiamo indicare la matrice `mat` su cui volevamo operare, poi _tra parentesi quadre_ indichiamo una specie di condizione booleana, _riusando_ la variabile `mat` così:

In [67]:
mat[ mat > 2 ]

array([5, 6, 4, 3])

Ma esattamente, che cos'è quella strana espressione che abbiamo messo dentro le quadre? Proviamo ad eseguirla da sola:

In [68]:
mat > 2

array([[ True, False,  True],
       [False,  True,  True]])

Notiamo che ci restituisce una matrice di booleani, che sono veri quando la corrispondente cella nella matrice originale soddisfa la condizione che abbiamo imposto. 

Mettendo poi questa espressione all'interno di `mat[   ]`  otteniamo i valori della matrice originaria che soddisfano l'espressione:

In [69]:
mat[ mat > 2 ]

array([5, 6, 4, 3])

Non solo, possiamo costruire espressione più complesse usando `&` per la congiunzione logica _and_  e `|` (carattere pipe) per la congiunzione logica _or_:

In [70]:
mat = np.array([[5, 2, 6],
                [1, 4, 3]])
mat[(mat > 3) & (mat < 6)]

array([5, 4])

In [71]:
mat = np.array([[5, 2, 6],
                [1, 4, 3]])
mat[(mat < 2) | (mat > 4)]

array([5, 6, 1])

<div class="alert alert-warning">

**ATTENZIONE: RICORDATI LE PARENTESI TONDE TRA LE VARIE ESPRESSIONI!**
</div>

**ESERCIZIO**: prova a riscrivere le espressioni qua sopra 'dimenticando' le parentesi tonde nelle varie componenti (sinistra/destra/entrambe) e guarda cosa succede. Ottieni errori o risultati diversi da quelli attesi?

<a  class="jupman-sol jupman-sol-toggler" 
 onclick="jupman.toggleSolution(this);" 
 data-jupman-show="Mostra soluzione" data-jupman-hide="Nascondi">Mostra soluzione</a><div class="jupman-sol jupman-sol-code" style="display:none">

In [72]:

mat = np.array([[5, 2, 6],
                [1, 4, 3]])

# scrivi qui
print(  mat[(mat > 3) & mat < 6]  )
print(  mat[mat > 3 & (mat < 6)]    )
#print(  mat[mat > 3 & mat < 6]      )
# l'ultimo produce:
# ---------------------------------------------------------------------------
# ValueError                                Traceback (most recent call last)
# <ipython-input-212-33c5a083b265> in <module>
#       3 print(  mat[(mat > 3) & mat < 6]  )
#       4 print(  mat[mat > 3 & (mat < 6)]    )
# ----> 5 print(  mat[mat > 3 & mat < 6]      )

# ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

[5 2 6 1 4 3]
[5 2 6 4 3]

</div>

In [72]:

mat = np.array([[5, 2, 6],
                [1, 4, 3]])

# scrivi qui

<div class="alert alert-warning">

**ATTENZIONE**:  `and` **E** `or` **NON FUNZIONANO!**
</div>

**ESERCIZIO**: prova a riscrivere le espressioni qua sopra sostituendo `&` con `and`  e `|` con `or` e guarda cosa succede. Ottieni errori o risultati diversi da quelli attesi?

<a  class="jupman-sol jupman-sol-toggler" 
 onclick="jupman.toggleSolution(this);" 
 data-jupman-show="Mostra soluzione" data-jupman-hide="Nascondi">Mostra soluzione</a><div class="jupman-sol jupman-sol-code" style="display:none">

In [73]:

mat = np.array([[5, 2, 6],
                [1, 4, 3]])

# scrivi qui
#print(  mat[(mat > 3) and (mat < 6) ]  )
#---------------------------------------------------------------------------
#ValueError                                Traceback (most recent call last)
#<ipython-input-218-3edf025af7c0> in <module>
#      4 
#      5 # scrivi qui
#----> 6 print(  mat[(mat > 3) and (mat < 6) ]  )     

#ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

#print(  mat[(mat > 3) or (mat < 6)]    )
#---------------------------------------------------------------------------
#ValueError                                Traceback (most recent call last)
#<ipython-input-219-192c022d9d87> in <module>
#     16 
#     17 
#---> 18 print(  mat[(mat > 3) or (mat < 6)]    )

#ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

</div>

In [73]:

mat = np.array([[5, 2, 6],
                [1, 4, 3]])

# scrivi qui

### Trovare indici con `np.where`

Abbiamo visto come trovare il contenuto delle celle per cui una condizione è soddisfatta. E se volessimo trovare gli _indici_ di quelle celle?  In quel caso useremmo la funzione `np.where`, passandogli come parametro la condizione espressa nello stesso linguaggio che abbiamo già usato prima.

Per esempio, se volessimo trovare gli _indici_ delle celle che contengono numeri minori di 40 o maggiori di 60 scriveremmo così:

In [74]:
             #0  1  2  3  4  5
v = np.array([30,60,20,70,40,80])

np.where((v < 40) | (v > 60))

(array([0, 2, 3, 5]),)

### Scrivere in celle che soddisfano una condizione

Possiamo usare `np.where` per sostituire i valori nelle celle che soddisfano una condizione con altri valori che saranno indicati in due matrici extra `ma` e `mb`. Nel caso la condizione sia soddisfatta, verrà preso un corrispondente valore da `ma`, altrimenti da `mb`.

In [75]:
ma = np.array([
    [ 1, 2, 3, 4],
    [ 5, 6, 7, 8],
    [ 9,10,11,12]
])

mb = np.array([
    [ -1, -2, -3, -4],
    [ -5, -6, -7, -8],
    [ -9,-10,-11,-12]
])


mat = np.array([
    [40,70,10,80],
    [20,30,60,40],
    [10,60,80,90]
])

np.where(mat < 50, ma, mb)

array([[  1,  -2,   3,  -4],
       [  5,   6,  -7,   8],
       [  9, -10, -11, -12]])

## Sequenze arange e linspace

La funzione standard `range` Python non permette incrementi con la virgola, che possiamo invece ottenere costruendo sequenze di numeri float con `np.arange`, specificando limite sinistro (**incluso**), destro (**escluso**) e l'incremento:

In [76]:
np.arange(0.0, 1.0, 0.2)

array([0. , 0.2, 0.4, 0.6, 0.8])

Alternativamente, possiamo usare `np.linspace`, che prende un limite sinistro **incluso**, un limite destro questa volta **incluso**, e il **numero di ripartizioni** in cui suddividere questo spazio:

In [77]:
np.linspace(0, 0.8, 5)

array([0. , 0.2, 0.4, 0.6, 0.8])

In [78]:
np.linspace(0, 0.8, 10)

array([0.        , 0.08888889, 0.17777778, 0.26666667, 0.35555556,
       0.44444444, 0.53333333, 0.62222222, 0.71111111, 0.8       ])

## NaN e infinità

I numeri float possono essere numeri,  _non numeri_ , e anche _infinità_ . A volte durante i calcoli accadono condizioni estreme, come per esempio dividere un numero enorme per un numero enorme. In tali casi, potresti finire con un float particolare che è il temuto _Not a Number_ , _NaN_ in breve, o potresti ottenere una _infinità_ . Questo potrebbe portare a comportamenti imprevedibili, perciò devi saper riconoscere situazioni potenzialmente problematiche. Esempi:

In [79]:
10e99999999999999999999999

inf

In [80]:
10e99999999999999999999999 / 10e99999999999999999999999

nan

I comportamenti descritti in seguito sono dettati dallo standard IEEE per l'Aritmetica in virgola mobile binaria (IEEE 754) usato da Numpy e che è implementato in tutti i processori ( _CPU_ ), perciò di fatto riguarda _tutti_ i linguaggi di programmazione.

### NaN

NaN significa _Non è un Numero_. Che è già un nome poco chiaro, visto che il NaN in realtà è un membro molto speciale dei floats, con questa stupefacente proprietà:

<div class="alert alert-warning">

**NaN NON E' UGUALE A SE' STESSO !!!**

Hai letto bene, NaN davvero _non_ è uguale a sè stesso.

</div>

Sappiamo che la tua mente vuole rifiutare questa nozione, ma la confermeremo a breve.

Per ottenere un NaN, puoi usare il modulo Python `math` che contiene questo oggetto alieno:

In [81]:
import math
math.nan    # nota che stampa 'nan' con n minuscolo

nan

Come detto, un NaN è considerato un `float`:

In [82]:
type(math.nan)

float

Eppure, si comporta molto diversamente dai suoi compagni float, o da ogni altro oggetto nell'universo conosciuto:

In [83]:
math.nan == math.nan   # Eh ????

False

### Rilevare i NaN

Detto quanto sopra, se vuoi controllare quando una variabile `x` è un NaN, _non_ puoi scrivere così:

In [84]:
x = math.nan
if x == math.nan:  # SBAGLIATO
    print("Sono un NaN ")
else:
    print("x è qualcos'altro ??")

x è qualcos'altro ??

Per gestire correttamente questa situazione, devi usare la funzione `math.isnan`:

In [85]:
x = math.nan
if math.isnan(x):  # CORRETTO
    print("x è un NaN ")
else:
    print("x è qualcos'altro ??")

x è un NaN

Nota che `math.isnan` funziona anche con NaN _negativi_:

In [86]:
y = -math.nan
if math.isnan(y):  # CORRETTO
    print("y è un NaN ")
else:
    print("y è quacos'altro ??")

y è un NaN

### Sequenze con i NaN

Per fortuna, non tutto è completamente assurdo. Se compari sequenze che contengono NaN ad altre, ottieni risultati ragionevoli:

In [87]:
[math.nan, math.nan] == [math.nan, math.nan]

True

In [88]:
[math.nan, math.nan] == [math.nan, 5.0]

False

### Esercizio - NaN due variabili

Date due variabili `x` e `y`, scrivi del codice che stampa `"stessa cosa"` quando sono lo stesso, _anche_ quando sono `NaN`. Altrimenti, stampa `"non sono la stessa cosa"`

<a  class="jupman-sol jupman-sol-toggler" 
 onclick="jupman.toggleSolution(this);" 
 data-jupman-show="Mostra soluzione" data-jupman-hide="Nascondi">Mostra soluzione</a><div class="jupman-sol jupman-sol-code" style="display:none">

In [89]:
import math 

# output atteso: stessa cosa
x = math.nan
y = math.nan

# output atteso: non sono la stessa cosa
#x = 3
#y = math.nan

# output atteso: non sono la stessa cosa
#x = math.nan
#y = 5

# output atteso: non sono la stessa cosa
#x = 2
#y = 7

# output atteso: stessa cosa
#x = 4
#y = 4

# scrivi qui
if math.isnan(x) and math.isnan(y):
    print('stessa cosa')
elif x == y:
    print('stessa cosa')
else:
    print('non sono la stessa cosa')

stessa cosa

</div>

In [89]:
import math 

# output atteso: stessa cosa
x = math.nan
y = math.nan

# output atteso: non sono la stessa cosa
#x = 3
#y = math.nan

# output atteso: non sono la stessa cosa
#x = math.nan
#y = 5

# output atteso: non sono la stessa cosa
#x = 2
#y = 7

# output atteso: stessa cosa
#x = 4
#y = 4

# scrivi qui

stessa cosa

### Operazioni sui NaN

Qualunque operazione sui NaN genera un altro NaN:

In [90]:
5 * math.nan

nan

In [91]:
math.nan + math.nan

nan

In [92]:
math.nan / math.nan

nan


L'unica cosa che non puoi fare è dividere per zero un NaN 'fuori scatola':

```python
math.nan / 0
```

```python
---------------------------------------------------------------------------
ZeroDivisionError                         Traceback (most recent call last)
<ipython-input-94-1da38377fac4> in <module>
----> 1 math.nan / 0

ZeroDivisionError: float division by zero
```

NaN corrisponde al valore logico booleano `True`:

In [93]:
if math.nan: 
    print("That's True")

That's True

### I NaN e Numpy

Quando usi Numpy è abbastanza probabile incontrare NaN, al punto che sono ridefiniti dentro Numpy - ma di fatto sono esattamente gli stessi che nel modulo `math`:

In [94]:
np.nan

nan

In [95]:
math.isnan(np.nan)

True

In [96]:
np.isnan(math.nan)

True

In Numpy quando hai numeri sconosciuti potresti essere tentato di mettere un `None`. Puoi anche farlo, ma guarda attentamente il risultato:

In [97]:
import numpy as np
np.array([4.9,None,3.2,5.1])

array([4.9, None, 3.2, 5.1], dtype=object)

L'array risultante _non_ è un array di float64 che permette calcoli veloci, invece è un array che contiene generici _object_ , perchè Numpy assume che l'array contenga dati eterogenei. Perciò quello che guadagni in generalità lo perdi in performance, che dovrebbe essere il motivo principale di usare Numpy.

Per quanto appaiano strani, i NaN sono considerati come dei `float`  e quindi possono essere salvati nell'array:

In [98]:
np.array([4.9,np.nan,3.2,5.1])   # NOTA: il `dtype=object` è sparito

array([4.9, nan, 3.2, 5.1])


### Dove sono i NaN ?

Vediamo dove possiamo incontrare dei NaN e altri oggetti strani come le infinità.

Prima, controlliamo cosa succede quando chiamiamo la funzione `log` del modulo standard `math`. Dalle lezioni di matematica, sappiamo che la funzione `log` si comporta così:

* $x < 0$: non definita
* $x = 0$: tende a meno infinito
* $x > 0$: definita

![log function u9u9u9](img/log.png)

Perciò possiamo chiederci cosa succede se gli passiamo un valore per il quale non è definita. Proviamo prima con `math.log` della libreria standard di Python:

```python
>>> math.log(-1)
```
```python
ValueError                                Traceback (most recent call last)
<ipython-input-38-d6e02ba32da6> in <module>
----> 1 math.log(-1)

ValueError: math domain error
```

In questo caso viene sollevato `ValueError` **e l'esecuzione viene interrotta**.

Vediamo ora l'equivalente in Numpy:

In [99]:
np.log(-1)

/home/da/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in log
  """Entry point for launching an IPython kernel.

nan

In questo caso **abbiamo ottenuto come risultato** `np.nan`, quindi l'esecuzione non si è interrotta, Jupyter ci ha solo informato con una stampa addizionale che abbiamo compiuto qualcosa di pericoloso. 

Quando incontra calcoli pericolosi, Numpy di default effettua in ogni caso il calcolo e salva il risultato come NaN o altri oggetti limite. Questo vale anche per i calcoli sugli array:

In [100]:
np.log(np.array([3,7,-1,9]))

/home/da/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in log
  """Entry point for launching an IPython kernel.

array([1.09861229, 1.94591015,        nan, 2.19722458])

### Infinità

Come abbiamo detto in precedenza, Numpy usa lo standard IEEE per l'aritmetica binaria in virgola mobile (IEEE 754). Dato che qualcuno all'IEEE ha deciso di racchiudere i misteri dell'infinito nei numeri float, abbiamo ancora un'altro cittadino da considerare quando facciamo calcoli (per altre informazioni, vedere [Numpy documentation on constants](https://numpy.org/devdocs/reference/constants.html)):

### Infinità positiva `np.inf`

In [101]:
 np.array( [ 5 ] ) / 0

/home/da/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

array([inf])

In [102]:
np.array( [ 6,9,5,7 ] ) / np.array( [ 2,0,0,4 ] )

/home/da/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

array([3.  ,  inf,  inf, 1.75])

Attenzione che: 

- Not a Number **non** è equivalente  all'infinità
- l'infinità positiva **non** è equivalente all'infinità negativa
- l'infinità è equivalente all'infinità positiva

Per fortuna, l'infinità è equivalente all'infinità:

In [103]:
np.inf == np.inf

True

perciò possiamo in sicurezza equiparare due infinità con `==`:

In [104]:
x = np.inf
 
if x == np.inf:
    print("x è infinito")
else:
    print("x è finito")

x è infinito

Alternativamente, possiamo usare la funzione `np.isinf`:

In [105]:
np.isinf(np.inf)

True

### Infinità negativa

Possiamo anche avere un'infinità negativa, che è differente dall'inifinità positiva:

In [106]:
-np.inf == np.inf

False

Nota che `isinf` può rilevare sia infinità positive che negative:

In [107]:
np.isinf(-np.inf)

True

Per rilevare specificamente un'infinità negativa dei usare `isneginf`:

In [108]:
np.isneginf(-np.inf)

True

In [109]:
np.isneginf(np.inf)

False

Dove possiamo trovarle? Come esempio, proviamo la funzione `np.log`:

In [110]:
np.log(0)

/home/da/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

-inf

### Combinare infinità e NaN

Quando esegui operazioni che riguardano le infinità e i NaN, l'aritmetica IEEE prova a imitare l'analisi classica, a volte includendo NaN come risultato:

In [111]:
np.inf + np.inf

inf

In [112]:
- np.inf - np.inf

-inf

In [113]:
np.inf * -np.inf

-inf

Un risultato che in analisi classica sarebbe non definito, qui diventa NaN:

In [114]:
np.inf - np.inf

nan

In [115]:
np.inf / np.inf

nan

Come al solito, combinare con un NaN risulta in NaN:

In [116]:
np.inf + np.nan

nan

In [117]:
np.inf / np.nan

nan

### Zero negativo

Puoi persino avere uno zero _negativo_ - chi l'avrebbe pensato?

In [118]:
np.NZERO

-0.0

Lo zero negativo naturalmente fa coppia con il più conosciuto e apprezzato zero _positivo_:

In [119]:
np.PZERO

0.0

**NOTA**: Scrivere `np.NZERO` o `-0.0` è  _esattamente_ la stessa cosa. Lo stesso vale per lo zero positivo.

A questo punto, potresti cominciare a chiederti con qualche se sono davvero considerati _uguali_. Verifichiamo:

In [120]:
0.0 == -0.0

True

Grandioso! Finalmente qualcosa che ha senso.

Dato quanto sopra, potresti pensare che in una formula puoi sostituire uno per l'altro e ottenere gli stessi risultati, in armonia con le regole dell'universo.

Facciamo un tentativo di sostituzione, come esempio prima cercheremo di dividere un numero per uno zero positivo (persino se gli insegnanti di matematica ci dicono che tali divisioni siano vietate). Cosa potremmo mai ottenere?

$\large \frac{5.0}{0.0}= ???$

In termini di Numpy, potremmo scrivere così per 'inscatolare' tutto in arrays:

In [121]:
np.array( [ 5.0 ] ) / np.array( [ 0.0 ] )

/home/da/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

array([inf])

Mmm, abbiamo ottenuto un array con dentro `np.inf` (e un warning stampato)

Se `0.0` e `-0.0` sono davvero la stessa cosa, dividendo un numero per `-0.0` dovremmo ottenere lo stesso identico risultato, no?

Proviamo:

In [122]:
np.array( [ 5.0 ] ) / np.array( [ -0.0 ] )

/home/da/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

array([-inf])

Ecchecaspita. Questa volta ci ritroviamo con una infinità _negativa_ `-np.inf`

Se tutto ciò ti pare strano, non dare la colpa a Numpy o Python. Questo è il modo con cui praticamente ogni processore ( _CPU_ )  compie operazioni in virgola mobile, perciò lo troverai in quasi TUTTI i linguaggi di programmazione.

Quello che i linguaggi di programmazione possono fare è aggiungere ulteriori controlli per proteggerti da queste situazioni paradossali, come per esempio lanciare `ZeroDivisionError` quando scrivi direttamente `1.0/0.0` (bloccando quindi l'esecuzione) o stampare un warning nel caso di operazioni su array Numpy.

### Esercizio: rilevare numeri propri

Scrivi del codice che STAMPA `numeri uguali` se due numeri `x` e `y` sono uguali e veri numeri, e STAMPA `non uguali` altrimenti.

**NOTA**: `numeri non uguali` va stampato se uno qualunque dei numeri è infinito o NaN.

Per risolverlo, sentiti libero di chiamare funzioni indicate [nella documentazione di Numpy riguardo le costanti](https://docs.scipy.org/doc/numpy/reference/constants.html)

<a  class="jupman-sol jupman-sol-toggler" 
 onclick="jupman.toggleSolution(this);" 
 data-jupman-show="Mostra soluzione" data-jupman-hide="Nascondi">Mostra soluzione</a><div class="jupman-sol jupman-sol-code" style="display:none">

In [123]:
import numpy as np

# atteso: numeri uguali
x = 5
y = 5

# atteso: numeri non uguali
#x = np.inf
#y = 3

# atteso: numeri non uguali
#x = 3
#y = np.inf

# atteso: numeri non uguali
#x = np.inf
#y = np.nan

# atteso: numeri non uguali
#x = np.nan
#y = np.inf

# atteso: numeri non uguali
#x = np.nan
#y = 7

# atteso: numeri non uguali
#x = 9
#y = np.nan

# atteso: numeri non uguali
#x = np.nan
#y = np.nan


# scrivi qui

# SOLUZIONE 1 - quella brutta
if np.isinf(x) or np.isinf(y) or np.isnan(x) or np.isnan(y):
    print('numeri non uguali')
else:
    print('numeri uguali')
    
# SOLUZIONE 2 - quella bella
if np.isfinite(x) and np.isfinite(y):
    print('numeri uguali')
else:
    print('numeri non uguali')

numeri uguali
numeri uguali

</div>

In [123]:
import numpy as np

# atteso: numeri uguali
x = 5
y = 5

# atteso: numeri non uguali
#x = np.inf
#y = 3

# atteso: numeri non uguali
#x = 3
#y = np.inf

# atteso: numeri non uguali
#x = np.inf
#y = np.nan

# atteso: numeri non uguali
#x = np.nan
#y = np.inf

# atteso: numeri non uguali
#x = np.nan
#y = 7

# atteso: numeri non uguali
#x = 9
#y = np.nan

# atteso: numeri non uguali
#x = np.nan
#y = np.nan


# scrivi qui

numeri uguali
numeri uguali

### Domande - NaN

Per ciascuna delle espressioni seguenti, prova ad indovinare il risultato

<div class="alert alert-warning">

**ATTENZIONE: ciò che segue può causare nausea e gravi convulsioni**
    
Durante test clinici, sia pazienti con inclinazioni matematiche che soggetti con repulsione per le scienze esatte hanno lamentato malessere per ragioni differenti che sono ancora oggetto di ricerca.
    
</div>

```python
a.  0.0 * -0.0
b.  (-0.0)**3
c.  np.log(-7) == math.log(-7)
d.  np.log(-7) == np.log(-7)
e.  np.isnan( 1 / np.log(1) )
f.  np.sqrt(-1) * np.sqrt(-1)   # sqrt = radice quadrata
g.  3 ** np.inf
h   3 ** -np.inf
i.  1/np.sqrt(-3)
j.  1/np.sqrt(-0.0)
m.  np.sqrt(np.inf) - np.sqrt(-np.inf)
n.  np.sqrt(np.inf) + ( 1 / np.sqrt(-0.0) )
o.  np.isneginf(np.log(np.e) / np.sqrt(-0.0))  
p.  np.isinf(np.log(np.e) / np.sqrt(-0.0))
q.  [np.nan, np.inf] == [np.nan, np.inf]
r.  [np.nan, -np.inf] == [np.nan, np.inf]
s.  [np.nan, np.inf] == [-np.nan, np.inf]
```

## Prosegui

[Continua](https://it.softpython.org/matrices-numpy/matrices-numpy2-sol.html) ora con gli esercizi.